<div class="categories">
  <h1>Meer Categorien</h1>
  {% for category in contents.categories %}
  <a href="{{ category._permalink }}">
    <div class="category" style="background-color: {{ category.color }}">
      <span>{{ category.title }}</span>
    </div>
  </a>
  {% endfor %}
</div>
