{% assign category-color = "#2C9AE5" %}

<div class="summary contentbox" style="border-color: {{ category-color }}">
  <article class="course">
    <img class="featured" src="{{ course.image.url }}">
    <div>
      <header>
        <hgroup>
          <h1>{{ course.title }}</h1>
          <h2>Category</h2>
        </hgroup>
      </header>
      <p>{{ course.teaser }}</p>
    </div>
    <aside>
      <img src="http://placehold.it/119x170">
      <div>
        <span>STARTDATUM</span>
        <time datetime="2010-10-27">27-10-2010</time>
        <span>MEER!</span>
      </div>
    </aside>
  </article>
</div>