/* Global */

body * {
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

html {
  background: #D3D3D3;
}

body {
  width: 1032px;
  margin: 0 auto;
}

body > header {
  position: relative;
  margin-top: 43px;
  margin-bottom: 43px;
  height: 162px;
}

img.logo {
  width: 109px;
  height: 162px;
}

img.mast {
  padding-left: 53px;
}

#main {
  position: relative;
  top: -182px;
  width: 1032px;
  margin-bottom: 63px;
}

h1, h2, h3 {
  color: #2C9AE5;
}

p {
  font-size: 13px;
  line-height: 21,5px;
}

div.contentbox {
  border-style: solid;
  border-left-width: 6px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-color: #2C9AE5;
  background-color: white;
}

/* Top Navigation */

header nav {
  position: absolute;
  top: 45px; 
  left: 225px;
}

header nav ul {
  padding-left: 0px;
}

header nav li {
  display: inline-block;
  position: relative;
  height: 33px;
  width: 119px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 4px;

  background: #686868; 
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

header nav li a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

header nav li:hover ul {
  display:block; 
}

header nav li ul {
  display: none;
  position: absolute;
  left: -4px;
  top: 33px;
  padding-top: 3px;
}

header nav li ul > li {
  background: #A8CC46;
}

/* Courses */

div.details {
  width: 652px;
  min-height: 700px;
  padding: 10px;
  border-right-width: 2px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

article.course > header {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

article.course header * {
  font-weight: bold;
}

article.course header > hgroup > h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3em;
  color: #2C9AE5;
  text-transform: uppercase;
}

article.course header > hgroup > h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-style: italic;
  line-height: 1em;
  color: #2C9AE5;
  text-transform: uppercase;
}

div.details article.course > img.featured {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.details article.course > img.category {
  float: right;
  margin-left: 10px;
}

/* Sidebar */

div.sidebox {
  width: 215px;
  margin-top: 96px;
  margin-right: 119px;
  padding-left: 10px;
  border-right-width: 2px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
  float: right;
}

div.sidebox h3 {
  padding-top: 7px;
  padding-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #686868;
}

div.sidebox p {
  line-height: 24px;
  margin-top: 0px;
}

span.italics {
  font-style: italic;
}

/* Related Courses */

div.related > header {
  display: block;
  width: 162px;
  height: 33px;
  background: #2C9AE5;;
  margin-bottom: 20px;
}

div.related > header > h3 {
  font-size: 13px;
  font-weight: bold;
  line-height: 33px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

div.related > div.Summary {
  margin-bottom: 20px;
}

div.related > div.categories {
  float: right;
}

/* Course List */

div.courses {
  width: 731px;
}

div.listview div.summary,
div.courses div.summary {
  margin-bottom: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

div.courses > a {
  color: black;
  text-decoration: none;
}

div.courses > a:hover 
{
  color: black; 
  text-decoration: none; 
  cursor: pointer;  
}

/* Meetings */

div.sidebar {
  float: right;
}

div.meetings {
  margin-top: 60px;
}

div.meeting {
  display: inline-block;
  margin-right: 10px;
}

div.meeting > div {
  width: 162px;
  height: 337px;
  border-style: solid;
  border-left-width: 6px;
  border-right-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #2C9AE5;
  background-color: white;
  padding-left: 10px;
  padding-top: 4px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

div.meeting dl {
  margin-top: 0px;
}

div.meeting dt {
  font-weight: bold;
  font-size: 14px;
  color: #686868;
  margin-top: 10px;
}

div.meeting dd {
  font-weight: regular;
  font-size: 14px;
  color: #686868;
  margin-left: 0px;
  margin-top: 4px;
}

div.meetings a {
  text-decoration: none;
}

div.meetings div.btn {
  display: block;
  width: 162px;
  height: 33px;
  background: #2C9AE5;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

div.meetings div.btn span {
  font-size: 14px;
  font-weight: bold;
  line-height: 33px;
  margin-left: 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* Testimonials */

div.testimonials {
  float: right;
  width: 334px;
  margin-right: 10px;
  background-color: white;
  border-style: solid;
  border-left-width: 6px;
  border-right-width: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  padding: 10px;
  padding-top: 0px;
  border-color: #2C9AE5;
}

div.testimonials h1 {
  font-weight: bold;
  font-size: 13px;
  color: #686868;
  text-transform: uppercase;
}

div.testimonial {
  margin-top: 10px;
}

div.testimonial > * {
  font-weight: regular;
  font-size: 13px;
  color: #686868;
}

div.testimonial :last-child {
 font-style: italic; 
}

/* Course Summary */

div.summary {
  width: 731px;
  height: 248px;
}

div.summary > article.course > * {
  float: left;
}

div.summary > article.course > img {
  margin: 10px;
  width: 215px;
}

div.summary > article.course > div {
  margin-top: 10px;
  padding-right: 5px;
  width: 371px;
}

div.summary > article.course > div > p {
  margin-top: 5px;
  color: black;
}

div.summary > article.course > aside {
  width: 119px;
  height: 248px;
}

div.summary > article.course > aside > img {
  height: 173px;
  width: 119px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 3px;
  border-color: white;
  border-style: solid;
}

div.summary > article.course > aside > div {
  text-align: center;
  height: 75px;
  background-color: #2C9AE5;
  position: relative;
  top: -5px;
  padding-top: 3px;
}

div.summary > article.course > aside > div > * {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

/* Category Menu */

#main > div.categories {
  float: right;
  margin-right: 40px;
}

div.categories {
  width: 162px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

div.categories > h1 {
  font-style: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #686868;
  text-align: center;
}

div.category {
  width: 136px;
  height: 33px;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 7px;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #686868;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}

div.category > span {
  display: inline-block;
  font-weight: 700; 
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 12px;
  margin-right: 0px;
}

/* Advertisements */

div.ads {
  float: right;
  width: 248px;
  margin-top: 248px;
  padding-left: 27px;
  padding-right: 27px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 6px;
  border-right: 6px;
  border-style: solid;
  border-color: #686868;  
}

div.ads img {
  width: 182px;
  height: 182px;
}

/* Footer */

footer {
  position: relative;
  top: -182px;
  width: 1032px;
  height: 162px;
  background-color: #2C9AE5;
}

footer > img {
  float: left;
  width: 95px;
  height: 95px;
  margin-left: 33px;
  margin-top: 33px;
  margin-bottom: 33px;
}

footer > nav {
  float: left;
  margin-left: 53px;
  margin-top: 13px;
  width: 300px;
}

footer > nav li {
  list-style: none;
}

footer > nav li a {
  font-size: 12px;
  text-decoration: none;
  text-transform: lowercase;
  color: white;
}

footer nav > ul {
  padding: 1em;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
}

/* List view */

div.listview div.summary {
  margin-bottom: 20px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.1);
}
