---
title: Listview

# true if the page is included in the menu
listed: false

# true if the page is published
published: false

# position among sibling pages
# position: 1

---
{% extends parent %}

{% block main %}

<div class="listview">
{% for child in page.children %}
  <a href="{{ child.fullpath }}">
    <div class="summary contentbox">
        <article class="course">
          <img class="featured" src="{{ child.image }}">
          <div>
            <header>
              <hgroup>
                <h1>{{ child.title }}</h1>
              </hgroup>
            </header>
            <p>{{ child.teaser }}</p>
          </div>
        </article>
    </div>
  </a>
{% endfor %}
</div>

{% endblock %}
