---
title: Category template

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
content_type: categories

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

{% include categories %}

<div class="courses">
{% for meeting in contents.meetings %}
  {% assign current_course = meeting.course._slug | append: '%' %}
  {% unless used_courses contains current_course %}
    {% capture used_courses %}{{ used_courses }}{{ current_course }}{% endcapture %} 
    {% assign course = meeting.course %}
    {% if course.category.title == category.title %}
      {% include summary with course %}
    {% endif %}
  {% endunless %}
{% endfor %}
</div>

{% endblock %}
